body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    background-color: #eaf600;
    color: #030c14;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: #35001b;
    color: #07b871;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formula {
    margin: 20px 100px;
    background-color: #ffffff;
    color: #000000;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 120px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #030c14;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

button:hover{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #eaf600;
    color: #000000;
    border: none;
    border-radius: 4px;   
    margin: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#training_status {
    margin-bottom: 20px;
    font-style: italic;
}

#prediction_result {
    font-weight: bold;
}

label{
    background-color: #eaf600;
    color: #030c14;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: large; 
}

#Caja{
    border: 1px solid cadetblue;
    height: 80px;
    width: 230px;
    align-items: center;
    margin: 10px 80px;
    justify-content: center;
    background-color: #ffffff;
    display: none;
}

#Caja h3{
    background-color: #030c14;
    margin: 0px 0px;
}

#Caja div{
    margin:20px 0px;
    color: #030c14;
}